body {
    background: url("/static/images/base-bg.png");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
}
header {
    display:flex;
    font-size: 30px;
    color: rgb(117, 63, 115);
    align-items: center;
    flex-direction: column;
}

p {
    text-align: center;
}

.word {
    margin-top: 40px;
    text-align: center; 
    font-family: sans-serif;
}

div input {
    flex:2;
}
.search {
    padding-top:0;
    border-top: 0;
    margin-top:0;
    width: 40%;
}

.gifs{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: center;
}

#searchbar{
    width: 40%;
    height: 20px;
}

.tenor-gif-embed {
    width: 33% !important;
}