body {
    background-color: blanchedalmond;
    margin:0;
}
header {
    display:flex;
    font-size: 30px;
    color: rgb(117, 63, 115);
    align-items: center;
    flex-direction: column;
}

p {
    text-align: center;
}

div {
    display:flex;
}

div input {
    flex:2;
}
.search {
    padding-top:0;
    border-top: 0;
    margin-top:0;
    width: 40%;
}

.gifs{
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: center;
}

#searchbar{
    width: 40%;
}

.tenor-gif-embed {
    width: 33% !important;
    float:left;
    padding-right: 100px;
}