
<!-- TODO: Extend 'base.html' and put content into a block 'body' to match -->

<!-- TODO: Make an HTML form containing a search box and a submit button to add
    the search term to the query string -->

<!-- TODO: Make a for loop to loop over GIFs passed in from the server -->

<!-- TODO: For each gif, include the 'gif.html' template to display it -->

{% extends 'base.html' %}

{% block title %}
    <title>GIF Search</title>
{% endblock %}

{% block body %}
    <form action='/'>
        <p>
            <input type="GIF Search" name="search_bar"/>
            <button type="submit">Submit</button>
        </p>
    </form>
    {%if search_bar %}
        {% for gif in gifs %}
            {% include 'gif.html' %}
        {% endfor %}
    {% endif %}

{% endblock %}